
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="modal-dialog form-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Sign up</h4>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="panel ">
                <div class="panel-body">
                  <form accept-charset="UTF-8" action="" method="POST">
                    <div class="row" >

                      <%= f.text_field :name, autofocus: true, :placeholder=>"Name", :class=>"form-control testBox" %>

                      <%= f.email_field :email, :placeholder=>"Email", :class=>"form-control testBox"  %>

                      <%= f.password_field :password, autocomplete: "off",  :placeholder=>"Password (6 characters minimum)", :class=>"form-control testBox" %>

                      <%= f.password_field :password_confirmation, autocomplete: "off",  :placeholder=>"Password Confirmation", :class=>"form-control testBox" %>

                      <%= f.submit :class=>"btn btn-info", :value=>"Sign up" %>

                      <div>
                        <%= render "devise/shared/links" %>
                      </div>

                    </div><!-- /row -->
                  </form>
                </div><!-- /panel-body -->
              </div><!-- /panel -->
            </div><!-- /col-sm-12 col-md-12 -->
          </div><!-- /row -->

        </div><!-- /modal-body -->
      </div><!-- /panel-content -->
    </div><!-- /modal-dialog -->

<% end %>