
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="register-overlay" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Sign up</h4>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="panel ">
                <div class="panel-body">
                  <form accept-charset="UTF-8" action="" method="POST">
                    <div class="reg-row row" >

                      <%= f.email_field :email, autofocus: true, :placeholder=>"Email", :class=>"form-control testBox reg-email"  %>

                      <div class="col-lg-6">
                        <%= f.password_field :password, autocomplete: "off",  :placeholder=>"Password", :class=>"form-control testBox" %>
                        <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                      </div>

                      <div class="col-lg-6">
                        <%= f.password_field :password_confirmation, autocomplete: "off",  :placeholder=>"Password", :class=>"form-control testBox" %>
                      </div>

                    </div><!-- /row -->

                      <%= f.submit :class=>"btn btn-info sign-up-btn", :value=>"Sign up" %>

                      <div>
                        <%= render "devise/shared/links" %>
                      </div>

                  </form>
                </div><!-- /panel-body -->
              </div><!-- /panel -->
            </div><!-- /col-sm-12 col-md-12 -->
          </div><!-- /row -->

        </div><!-- /modal-body -->
      </div><!-- /panel-content -->
    </div><!-- /modal-dialog -->




<% end %>