
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="form-section">
  </div>
    <div class="modal-dialog form-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Sign up</h4>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="panel ">
                <div class="panel-body">
                  <form accept-charset="UTF-8" action="" method="POST">
                    <div class="row" >

                      <%= f.text_field :name, autofocus: true, :placeholder=>"Name", :class=>"form-control testBox" %>

                      <%= f.email_field :email, :placeholder=>"Email", :class=>"form-control testBox"  %>

                      <%= f.password_field :password, autocomplete: "off",  :placeholder=>"Password (6 characters minimum)", :class=>"form-control testBox" %>

                      <%= f.password_field :password_confirmation, autocomplete: "off",  :placeholder=>"Password Confirmation", :class=>"form-control testBox" %>

                      <%= f.submit "Sign up", :class=>"btn btn-info testBox" %>

                      <div class="testBox">
                        <%= f.label "Or" %>
                        <%= link_to "Already have an account? Log in", new_session_path(resource_name), :class=>"login-link" %>
                      </div>


                        <%= link_to " Sign in with Facebook", user_facebook_omniauth_authorize_path, :class=>"btn btn-block btn-social btn-facebook fa fa-facebook testBox log-btn" %>
                        <%= link_to " Sign in with Twitter", user_twitter_omniauth_authorize_path, :class=>"btn btn-block btn-social btn-twitter fa fa-twitter testBox log-btn" %>

                    </div><!-- /row -->
                  </form>
                </div><!-- /panel-body -->
              </div><!-- /panel -->
            </div><!-- /col-sm-12 col-md-12 -->
          </div><!-- /row -->

        </div><!-- /modal-body -->
      </div><!-- /panel-content -->
    </div><!-- /modal-dialog -->

<% end %>