 <div class="row col-md-8 col-md-offset-2">
  <script>
  if (!App['room' + <%=chatroom.id%>]) {
    App['room' + <%=chatroom.id%>] = App.cable.subscriptions.create({channel: 'MessagesChannel', room: <%=chatroom.id%>}, {
       received: function(data) {
         $("[data-chatroom='" + this.chatroomId + "']").removeClass('hidden')
         $("body").append(data.notification);
           return $("[data-chatroom='" + this.chatroomId + "']").append(data.message);
       },

       setChatroomId: function(chatroomId) {
        this.chatroomId = chatroomId
       }
    });
  }
  </script>
    <h1><%= chatroom.topic %></h1>

    <div class="panel panel-default" data-chatroom="<%=chatroom.id%>">
      <% if chatroom.messages.any? %>
        <div class="panel-body" id="messages">
          <%= render partial: 'messages/message', collection: chatroom.messages%>
        </div>
      <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
      <%end%>
    </div>
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: chatroom}%>
  </div>
