<!-- render users posts on their profile -->
<% if @posts.count == 0 %>
  <br>
  <div class="empty-post-container">
   <strong><p> This user doesn't have any posts at the moment.</p></strong>
  </div>
<% else %>
<br>
  <% @posts.order('CREATED_AT DESC').each do |post| %>
<div class="container">
<%= render '/posts/status', post: post %>
  <div class="well">
    <div class="media" onclick="window.location='/posts/<%= post.id %>'">
      <%= image_tag post.image, class: "medit-object pull-left card-image" %>
      <div class="media-body">
        <h4 class="media-heading"><%= post.title %></h4>
          <h6><%= post.category.name %></h6>
          <p><%= post.description %></p>
      </div>
      <div class="medit-object pull-right"><%= map_for_object post, height: 140, width: 140, zoom: 14, class: "medit-object pull-right"%>
      </div>
    </div>
    <ul class="list-inline list-unstyled">
      <li><span><i class="glyphicon glyphicon-calendar"></i><%= post.created_at.to_formatted_s(:long) %></span></li>
      <li>|</li>
        <% if post.comments.count < 0 %>
          <span class="comment-link" onclick="window.location='/posts/<%= post.id %>'"><i class="glyphicon glyphicon-comment">Leave a comment</i>
        <% else %>
          <span class="comment-link" onclick="window.location='/posts/<%= post.id %>'"><i class="glyphicon glyphicon-comment"></i>
          <%= pluralize(post.comments.count, 'Comment') %>
        <% end %>
          </span>
        <li>
          <%= render '/posts/taken', post: post %>
        </li>
    </ul>
  </div>
</div>
<% end %>
<% end %>
