<!-- current_user = logged in user -->
<!-- send message and remove div if rating occurs -->
<% if notice %>
  <div class="user-rating notice">
    <br>
    <strong><%= notice %></strong>
  </div>
<% else %>
<% if current_user != @user %>
  <div class="user-rating">
    <h4> Rate your experience with <%= @user.name %>!</h4>
    <%= form_for :rating, url: "/users/#{@user.id}/ratings", method: 'POST' do |form| %>
      <div class="form-group">
        <%= form.label :rating %>
        <%= form.select :rating,[[0], [1], [2], [3], [4], [5]], {}, :onchange=>"this.form.submit()" %>
      </div>
    <% end %>
  </div>
<% end %>
<% end %>