<div class="profile-container">
  <div class="profile-header">
    <div class="profile-content">
      <div class="profile-user">
        <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
          <div class="avatar">
          <% if @user.image %>
              <%= image_tag @user.image, :class =>"img img-circle img-default"%>
            <% else %>
            <img class="img img-circle img-default" src="/images/default_profile_normal.png" alt="FoodFeed">
            <% end %>
            <br>
            <%= render 'ratingvalue' %>
            <div class="name">
            <h3><%= @user.name %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'rating' %>
  <%= render 'content' %>
</div>

