<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">About</a></li>
  <li> <p id="notice"><%= notice %></p> </li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
  <p>
    <strong>Description:</strong>
    <%= @post.description %>
  </p>
  <p>
    <strong>Image:</strong>
    <%= @post.image %>
  </p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
    <div class="modal-dialog form-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <%= render 'comments/form' %>
        </div>
        <div class=" food-comment">
          <div>
            <%= render 'comments/comments' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
