<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">About</a></li>
  <li> <p id="notice"><%= notice %></p> </li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag @post.image %>
      <div class="caption">

        <p><%= @post.description %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

  <%= button_to 'Edit', edit_post_path(@post) %> |
  <%= button_to 'Back', posts_path %>
    <div class="modal-dialog form-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <%= render 'comments/form' %>
        </div>
        <div class=" food-comment">
          <div>
            <%= render 'comments/comments' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
