<% if @posts.count == 0 %>
  <div class="empty-post-container">
   <strong><p> This category doesn't have any posts at the moment.</p></strong>
  </div>
<% else %>
<% @posts.each do |post| %>
<div class="container">
<%= render 'status', post: post %>
  <div class="well">
    <div class="media card-flex" onclick="window.location='/posts/<%= post.id %>'">
      <div>
        <%= image_tag post.image, class: "medit-object pull-left card-image" %>
      </div>
      <div class="media-body post-text">
        <h4 class="media-heading"><%= post.title %></h4>
        <h6><%= post.category.name %></h6>
        <p><%= post.description %></p>
      </div>
      <div class="medit-object pull-right">
        <%= map_for_object post, height: 140, width: 140, zoom: 14, class: "medit-object pull-right"%>
      </div>
    </div>


  <ul class="list-inline list-unstyled post-info">
    <li>
    <%= link_to controller: :users, action: :show, id: post.user.id do %>
      <% if post.user.image %>
      <%= image_tag post.user.image, :class =>"img img-circle" %>
      <% else %>
      <img class="img img-circle" src="/images/default_profile_normal.png" alt="FoodFeed">
      <% end %>
      <%= post.user.name %>
    <% end %>
    </li>
    <li>|</li>
    <li><span><i class="glyphicon glyphicon-calendar"></i><%= post.created_at.to_formatted_s(:long) %></span></li>
      <% if post.comments.count > 0 %>
      <li>|</li>
      <span class="comment-link" onclick="window.location='/posts/<%= post.id %>'"><i class="glyphicon glyphicon-comment"></i>
      <%= pluralize(post.comments.count, 'Comment') %>
      <% end %>
      </span>
      <li>|</li>
      <li>
      <%= button_to "Interested!", class: 'btn btn-primary', controller: :claims, method: :post, action: :create, data: { post_id: post.id, claimer_id: current_user.id, user_id: post.user_id}%>
      </li>
      <li>
      <%= render 'taken', post: post %>
      </li>
    </ul>
  </div>
</div>
<% end %>
<% end %>

