<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<h2>Comments</h2>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>
<%= link_to 'Chat', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
